.nx-btn{
  border-color: #ffc107;
  background-color: #ffc107;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffc107;
  border-radius: 0.375rem;
  user-select: none;
  vertical-align: middle;
  padding: .0375rem, 0.75rem;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
}
.nx-btn:hover{
  background-color: #d39e00;
  border-color: #d39e00;
}

.nx-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.nx-m-2{
  margin: 20px;
}
.nx-m-1{
  margin: 10px;
}

.nx-w-100px{
  width: 50px;
}

p{
  margin: 0;
  padding: 0;
}